.floating-btn {
  position:fixed;
	width: 65px;
	height: 65px;
	bottom: 10%;
	right:8%;
	background-color:#212121;
	color:#FFF;
  display: inline-block;
  border: none;
  border-radius: 50%;
}

.floating-btn:focus{
  background-color:#212121 !important;
  color:#fff;
  box-shadow:0 0 0 .2rem black !important;
  border: black !important;
}

.floating-btn:hover{
  background-color:black;
  color:#fff;
  border: black;
}

.form-control{
  width: 30%;
  margin: auto;
}

.btn.btn-default,
.btn.btn-default:focus{
  background-color:black;
  color:#fff;
  border: black;
}

.LeaveModal{
  top: 15%;
}

.leave-form{
  align-content: center;
  display: grid;
  height: 45vh;
}

.datePicker{
  overflow:visible !important;
  margin-left: 33%;
  width: 100%;
}