.floating-btn {
  position:fixed;
	width: 70px;
	height: 70px;
	bottom: 10%;
	right:8%;
	background-color:coral;
	color:#FFF;
  display: inline-block;
  border: none;
  border-radius: 50%;
}

.floating-btn:focus{
  background-color:coral;
  color:#fff;
}

.floating-btn:hover{
  background-color:black;
  color:#fff;
  border: black;
}

.form-control{
  width: 30%;
  margin: auto;
}

.btn.btn-default,
.btn.btn-default:focus{
  background-color:black;
  color:#fff;
  border: black;
}

#addLeaveForm{
  margin: 0 auto;
}

.LeaveModal{
  
  top: 80px;
}