.floating-btn {
  position:fixed;
	width: 70px;
	height: 70px;
	bottom: 10%;
	right:8%;
	background-color:rgb(3, 5, 39);
	color:#FFF;
  display: inline-block;
  border: none;
  border-radius: 50%;
}

.floating-btn:focus{
  background-color:black !important;
  color:#fff;
  box-shadow:0 0 0 .2rem black !important;
  border: black !important;
}

.floating-btn:hover{
  background-color:black;
  color:#fff;
  border: black;
}

.form-control{
  width: 30%;
  margin: auto;
}

.btn.btn-default,
.btn.btn-default:focus{
  background-color:black;
  color:#fff;
  border: black;
}

.leave-form{
  align-content: center;
}

.datePicker{
  margin: auto;
  width: 37%;
}

.LeaveModal{
  top: 80px;
}