.resource-list {
    margin-top:2%;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 27.5%;
}

.parent-resource-table {
    margin-top:5%;
    position: relative; 
    right: 0;
    width: 75%;
    margin-left: 20%;
}

.resource-table-details {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    margin-bottom: 2%;
    margin-left: 10%;
}

.resource-table-header {
    background-color:black;
    color: white;
    position: sticky;
    top: 0;
}

.child-resource-table {    
    max-height: 60vh;
    overflow: auto;
    width:80%;
    margin-left: 10%;
}

.resource-table {
    width: 100%;
    background-color: lightgray;
}   